@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #262626;
  --acentGreen: #31ff4e;
  --acentOrange: #f56c15;
  --accentBlue: #1842ff;
  --acentPurple:#6a00de;
  --font-color: #ffffffde;

  /* color-scheme: light dark; */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color: rgba(255, 255, 255, 0.87); */
  color: var(--font-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.logo{
  z-index: 1000;
}

/* ! ScrollBar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-color);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--acentOrange);
  border-radius: 2rem;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
